@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@fontsource/roboto/300.css");
@import url("@fontsource/roboto/400.css");
@import url("@fontsource/roboto/500.css");
@import url("@fontsource/roboto/700.css");

:root {
  --background-color: linear-gradient(305deg, rgb(134, 47, 134), #ccc);
  --font-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: linear-gradient(305deg, #333, #ccc);
    --font-color: rgb(134, 47, 134);
  }
}

body {
  color: var(--font-color);
  font-family: "Roboto";
  background: var(--background-color);
}
